@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  height: calc(100vh - ($header-height + $toolbar-height + $formula-height));

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;

    &:first-child {
      user-select: none;
    }
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
    user-select: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    height: 100%;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border-right: 1px solid #e2e3e3;
    border-bottom: 1px solid #e2e3e3;
    color: #111;
    white-space: nowrap;
    outline: none;
    overflow: hidden;

    &.selected {
      border: none;
      outline: 2px solid $primary-color;
      z-index: 2;
    }
  }

  .col-resize,
  .row-resize {
    position: absolute;
    background: $primary-color;
    opacity: 0;
    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }

  .col-resize {
    inset: 0 -3px 0 auto;
    width: 5px;

    &:hover {
      cursor: col-resize;
    }
    
    &:active::after {
      content: "";
      position: absolute;
      width: 1px;
      left: 2px;
      height: calc(100vh - $header-height - $toolbar-height - $formula-height);
      background: $primary-color;
    }
  }

  .row-resize {
    inset: auto 0 -3px 0;
    height: 5px;
    width: unset;

    &:hover {
      cursor: row-resize;
    }

    &:active::after {
      content: "";
      position: absolute;
      height: 1px;
      top: 2px;
      width: 100vw;
      background: $primary-color;
    }
  }
}
